body {
	margin: 0;
	font-family: "quicksand";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dark-mode {
	background-color: black;
}

.dark-mode h1 {
	color: white;
}

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill, minmax(250px, 1fr)
	);
}

@media screen and (max-width: 460px) {
	.notes-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}	
}

.note.new {
	background-color: #67d7cc;
}

textarea {
	border: none;
	resize: none;
	background-color: #67d7cc;
	width: 20em;
}
@media screen and (max-width: 460px) {
	textarea {
		width: 9.5em;
	}
}
/* @media screen and (max-width: 1180px) {
	textarea {
		width: 16em;
	}
}
@media screen and (max-width: 1024px) {
	textarea {
		width: 25em;
	}
} */
textarea:focus {
	outline: none;
}

.save {
	font-family: poppins;
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
	transition: .3s;
}

.save:hover {
	opacity: 1;
	background-color: #fef68a;
	cursor: pointer;
}

.note {
	background-color: #fef68a;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon {
	padding: 5px;
	border-radius: 8px;
	border: solid black 1px;
	cursor: pointer;
}

.delete-icon:active, .delete-icon:hover {
	background-color: #19834e;
	color: #fef68a;
}

.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 1.5em;
}

.search input {
	font-family: 'poppins';
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
	margin-left: 8px;
}

.search input:focus {
	outline: none;
}

/* Dark mode */
/* The switch - the box around the slider */
.switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 64px;
	height: 34px;
  }
  
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #73C0FC;
	transition: .4s;
	border-radius: 30px;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 30px;
	width: 30px;
	border-radius: 20px;
	left: 2px;
	bottom: 2px;
	z-index: 2;
	background-color: #e8e8e8;
	transition: .4s;
  }
  
  .sun svg {
	position: absolute;
	top: 6px;
	left: 36px;
	z-index: 1;
	width: 24px;
	height: 24px;
  }
  
  .moon svg {
	fill: #73C0FC;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	width: 24px;
	height: 24px;
  }
  
  /* .switch:hover */.sun svg {
	animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
	0% {
	  transform: rotate(0);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }
  
  /* .switch:hover */.moon svg {
	animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
	0% {
	  transform: rotate(0deg);
	}
  
	25% {
	  transform: rotate(-10deg);
	}
  
	75% {
	  transform: rotate(10deg);
	}
  
	100% {
	  transform: rotate(0deg);
	}
  }
  
  .input:checked + .slider {
	background-color: #183153;
  }
  
  .input:focus + .slider {
	box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
	transform: translateX(30px);
  }